extends ./main

block content
  div.container
    table.table.table-bordered
      thead
        tr
          th Nome
          th Cnpj
          th Telefone
          th E-mail
          th Contato
          th Ações
      tbody
        tr
          td Provider1
          td 123456789
          td (11)922367896
          td test@test.com
          td Contato1
          td
            button.btn.btn-sucess(type="button") Editar
            button.btn.btn-danger(type="button") Deletar
        tr
          td Provider2
          td 123456789
          td (11)922367896
          td test@test.com
          td Contato1
          td
            button.btn.btn-sucess(type="button") Editar
            button.btn.btn-danger(type="button") Deletar
        tr
          td Provider3
          td 123456789
          td (11)922367896
          td test@test.com
          td Contato1
          td
            button.btn.btn-sucess(type="button") Editar
            button.btn.btn-danger(type="button") Deletar